<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./listar-pessoa.component.css">
</head>
<body>
    <div class="container-title">
        <h1>Lista</h1>
    </div>
    
    <div class="main-container">
        <div class="container-input-name">
            <h2>Lista de Cliente</h2>
            <p class="p-nome">Nome do cliente</p>
            <input class="input-name" type="text" id="nome" name="nome"  placeholder="Digite seu nome" minlength="2" required >
            <a [routerLink] = "['/pessoas/novo']">
                <button class="button-cadastrar">CADASTRAR CLIENTE</button>
            </a>
        </div>
    </div>   
    
    <div class="container-listagem-cadastrados">
        <div class="main-container-cadastrados">
            <table>
                <tbody>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>CPF</th>
                        <th>Endereço</th>
                        <th>Estado</th>
                        <th>CEP</th>
                        <th>Cidade</th>
                        <th>Ação</th>
                    </tr>
                    <tr *ngFor="let pessoa of pessoas">
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.email}}</td>
                        <td>{{pessoa.cpf}}</td>
                        <td>{{pessoa.endereco}}</td>
                        <td>{{pessoa.estado}}</td>
                        <td>{{pessoa.cep}}</td>
                        <td>{{pessoa.cidade}}</td>
                        <td>
                        <a title="Remover" alt="Remover"  (click)="remover($event, pessoa)">
                            <button class="button-remover">
                                 <img src="../../../assets/trash.svg" alt="trash" class="trash">
                            </button>
                        </a>
                        <a [routerLink] = "['/pessoas/editar', pessoa.id]">
                            <button class="button-update">
                                <img src="../../../assets/update.svg" alt="update" class="update">
                            </button>
                        </a>
                           
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="pessoas.length==0">Nenhuma pessoa cadastrada.</p>
        </div>
    </div>
</body>
</html>