body{
    padding:0;
    margin:0;
}
.main-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 8rem;
}
.container-title{
    height: 137px;
    background-color:#D9D9D9;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: center;
}
h1{
    display: flex;
    margin:0;
    align-items: center;
    flex-direction: row;
    font-size: 50px;
    padding-right: 80vh;
}
.container-input-name{
    display: flex;
    flex-direction: column;
}
.p-nome{
    margin-bottom: 5px;
    width: 100%;
    font-size: 24px;
}
.input-name{
    width: 100vh;
    height: 65px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size:22px;
}
.container-input-email{
    display: flex;
    flex-direction: column;
}
.p-email{
    margin-bottom: 5px;
    width: 100%;
    font-size: 24px;
}
.input-email{
    width: 100vh;
    height: 65px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size:22px;
}
.container-input-cpf{
    display: flex;
    flex-direction: column;
}
.p-cpf{
    margin-bottom: 5px;
    width: 100%;
    font-size: 24px;
}
.input-cpf{
    width: 100vh;
    height: 65px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size:22px;
}
.container-endereco-1{
    display:flex;
    flex-direction: row;
}
.container-endereco-2{
    display: flex;
    flex-direction: column;
}
.p-endereco{
    margin-bottom: 5px;
    width: 100%;
    font-size: 24px;
}
.input-endereco{
    width: 49vh;
    height: 65px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size:22px;
}
.p-estado{
    margin-bottom: 5px;
    width: 100%;
    font-size: 24px;
    margin-left: 15px;
}
.input-estado{
    width: 49vh;
    height: 65px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size:22px;
    margin-left: 10px;
}
.p-cep{
    margin-bottom: 5px;
    width: 100%;
    font-size: 24px;
}
.input-cep{
    width: 49vh;
    height: 65px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size:22px;
}
.p-cidade{
    margin-bottom: 5px;
    width: 100%;
    font-size: 24px;
    margin-left: 15px;
}
.input-cidade{
    width: 49vh;
    height: 65px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size:22px;
    margin-left: 10px;
}
.container-matricula-button{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.button-matricula{
    width: 320px;
    height: 60px;
    color: white;
    font-size: 22px;
    background-color:#377DC0 ;
    border-radius: 12px;
    cursor: pointer;
}
.p-button{
    font-size: 18px;
    padding-left: 5px;
}
.button-voltar{
    margin-top: 20px;
    margin-left: 40px;
    width: 50px;
    height: 45px;
    color: white;
    font-size: 18px;
    background-color:#377DC0 ;
    border-radius: 8px;
    cursor: pointer;
}

